{% extends "base.html" %}

{% block content %}

<header class="bg-index text-white text-center py-5">
  <div class="container d-flex align-items-center flex-column pt-5">
    <h1>Movies Store</h1>
    <p class="lead">
        Your Ticket to Unlimited Entertainment!
    </p>
  </div>
</header>

<div class="p-3">
    <div class="container py-5">
        <div class="row mt-3">
            <div class="col mx-auto text-center mb-3">
                <h4>Welcome to the best movie store!!</h4>

                <p>
                    Browse movies, write reviews, and purchase your favourite titles.
                </p>

                <a class="btn btn-primary" href="/about">
                    Learn More
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}